@font-face {
  font-family: "dana";
  src: url("./../assets/dana/fa-num/DanaFaNum-Medium.ttf");
}

@font-face {
  font-family: "mikhak";
  src: url("./../assets/morabba/fa-num/woff2/Morabba_FaNum-Medium.woff2");
}

body {
  font-family: "dana";
  font-size: 0.9rem;
}

.page-title {
  text-align: center;
  font-family: "mikhak";
}

.price-input {
  padding: 0.4rem;
}

.custom-info-box {
  border: 1px solid #3b82f6;
  text-align: center;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.custom-info-box__title {
  background-color: #3b82f6;
  color: #fff;
  padding: 0.5rem 0;
}
.custom-info-box__content {
  padding: 1rem 0.4rem;
  font-size: 0.9rem;
  color: #475569;
}

.alert {
  margin: 0 !important;
  background-color: #dbeafe;
  color: #2563eb;
  border-radius: 0.5rem;
  padding: 0.5rem !important;
  font-size: 0.9rem;
}

.payment-options {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
